.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 50%;
    top: 0;
    height: 80%;
    width: 80%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, 20%);
}